{% if user.ID %}
  <div class="entry-data">
      Total entries: 
      <form><button class="btn" id="total-count" type="submit">?</button></form>
      
      Export all: 
      <form class="js-confirm-action" id="download-full-csv" method="get">
          <button class="btn" type="submit">CSV</button>
      </form>
      <form class="js-confirm-action" id="download-full-json" method="get">
          <button class="btn" type="submit">JSON</button>
      </form>

      <div id="correct-only" style="display: none;">
        Export correct only: 
        <form class="js-confirm-action" id="download-correct-csv" method="get">
            <button class="btn" type="submit">CSV</button>
        </form>
        <form class="js-confirm-action" id="download-correct-json" method="get">
            <button class="btn" type="submit">JSON</button>
        </form>
      </div>

      {% set thirdPartyOptinCount = 0 %}
      {% if promo.get_field('optin_checkboxes') %}
        Export optins: 
        {% for optin in promo.get_field('optin_checkboxes') %}
          <form class="js-confirm-action" id="download-optins-{{ loop.index }}-csv" method="get">
              <button class="btn" type="submit">{{optin.optin_name}} CSV</button>
          </form>
          <form class="js-confirm-action" id="download-optins-{{ loop.index }}-json" method="get">
              <button class="btn" type="submit">{{optin.optin_name}} JSON</button>
          </form>
          {% set thirdPartyOptinCount = loop.index %}
        {% endfor %}
      {% endif %}


  </div>
  <script>
(function() {
  var passportData = {{ promo.dc_calais_passport }}
  var downloadUrl = 'http://www.calaisapi.com/data-record/' + passportData.id
  if (passportData.id) {
    document.getElementById('download-full-csv').action = downloadUrl + '/criteria/{"PostId":"{{ promo.ID }}"}/format/csv'
    document.getElementById('download-full-json').action = downloadUrl + '/criteria/{"PostId":"{{ promo.ID }}"}/format/json'

    if (document.getElementsByClassName('data-capture-type-competition').length > 0) {
      document.getElementById('download-correct-csv').action = downloadUrl + '/criteria/{"PostId":"{{ promo.ID }}", "AnswerCorrect": true}/format/csv'
      document.getElementById('download-correct-json').action = downloadUrl + '/criteria/{"PostId":"{{ promo.ID }}", "AnswerCorrect": true}/format/json'
      document.getElementById('correct-only').style.display = 'inline-block'
    }

    for (var optinIndex = 1; optinIndex <= {{thirdPartyOptinCount}}; optinIndex++) {
      document.getElementById('download-optins-' + optinIndex + '-json').action = downloadUrl + '/criteria/{"PostId":"{{ promo.ID }}", "ThirdPartyOptIn' + optinIndex + 'Value": true}/format/json'
      document.getElementById('download-optins-' + optinIndex + '-csv').action = downloadUrl + '/criteria/{"PostId":"{{ promo.ID }}", "ThirdPartyOptIn' + optinIndex + 'Value": true}/format/csv'
    }
    var request = new XMLHttpRequest();
    request.open('GET', downloadUrl + '/criteria/{"PostId":"{{ promo.ID }}"}/count?v=' + Math.round(Math.random() * 100000), true);
    request.onload = function() {
      console.log('load total success')
      console.log(request.responseText)
      document.getElementById('total-count').innerText = request.responseText
    };
    request.send();
  }
})()
  </script>
{% endif %}
