{% if promo is empty %}
{% set promo = TimberPost(widget.promo_post) %}
{% endif %}
    <script>
      window.agreablePromoData = {
        "id": {{promo.ID}},
        "location": window.location.pathname,
        "site": window.location.hostname,
        "fields": [
          "email"{% if promo.get_field('data_to_capture')|length > 0 %},{% for type in promo.get_field('data_to_capture') %}"{{type}}"{% if not loop.last %},{% endif %}{% endfor %}{% endif %}
        ],
        {% if promo.collect_optins %}
        "optins": [{% for optin in promo.get_field('third_party_optins') %}{{optin|json_encode}}{% if not loop.last %},{% endif %}{% endfor %}
        ],
        {% endif %}
        "terms_and_conditions_label" : "{{promo.terms_and_conditions_label}}",
        "terms_and_conditions" : "{{promo.terms_and_conditions}}",
        "startTime": "{{promo.start_time}}",
        "endTime": "{{promo.end_time}}"
      }
    </script>
</div>
<div id="agreable-promotion">
  <h1>
    Please turn on javascript to enter this promotion
  </h1>
</div>
